# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignorar archivos de compilación y temporales de Microchip Studio
*.o
*.elf
*.hex
*.map
*.dep
*.obj
*.lst
*.d
*.suo
*.ncb
*.sdf
*.aps
*.bak
*.log
*.user
output/
debug/
.vs/
